version: "3.9"

services:
    backend:
        build:
            context: .
            dockerfile: backend/Dockerfile
        container_name: backend
        ports:
            - "8080:8080"
        volumes:
            - ./data:/app/data
        expose:
            - "8080"

    frontend:
        build:
            context: .
            dockerfile: frontend/Dockerfile
        ports:
            - "3000:3000"
